<%= render 'shared/error', obj: @post %>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: "span5" %>
  </div>

  <div>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
      <%= b.label(class: "checkbox inline") {b.check_box(class: "checkbox") + b.text} %>
    <% end %>
  </div>
  <br/>

  <%= f.submit class: "btn btn-primary"%>
<% end %>